.header{
    background-color: $white-color;
    border-bottom: 1px solid $border-color;
}
.header__container{
    @include flex('', center);
}

.header__contact{
    @include flex('','');
    @include text-style('', 500, 0.02em, '',1.14);
    margin-left: auto;
    :not(:last-child){
        margin-right: 50px;
    }
}

.contact__link{
    color: $text-color;
    @include flex('', center);
    padding: 32px 0;
    &:hover,
    &:focus{
        color: $link-color;
        @include transition(color);
    }
}

.contact__svg{
    margin-right: 10px;
    fill: $text-color;
    @include transition(fill);

    .contact__link:hover &,
    .contact__link:focus &{
        fill: $link-color;
        @include transition(fill);
    }
}