.hero{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/back.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background-size: cover;
}

.hero__content{
    text-align: center;
    max-width: 696px;
}

.hero__head{
    @include text-style(44px, 900,0.06em,$white-color,1.36 );
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

