.advantage__list{
    display: flex;
}

.advantage__item{
    margin-right: 30px;
    width: calc((100%-90px)/4);
    &:last-child{
        margin-right: 0;
    }
}

.advantage__svg{
    @extend %flex-centre;
    margin-bottom: 30px;
    background: $bg-color;
    height: 120px;
}

.advantage__head{
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
    margin-bottom: 10px;
}
.advantage__info {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color;
}
