.advantage__list{
    display: flex;
}

.advantage__item{
    margin-right: 30px;
    width: calc((100%-90px)/4);
    &:last-child{
        margin-right: 0;
    }
}

.advantage__svg{
    @include flex(center,center);
    margin-bottom: 30px;
    background: $bg-color;
    height: 120px;
}

.advantage__head{
    @include text-style(14px,'',0.03em,'',1.14);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantage__info {
    @include text-style(14px, '', 0.03em, $text-color, 1.71);
}
